# This file lists all the dependencies for the backend application.

# Server and framework dependencies
fastapi
uvicorn

# GenAI SDK for interacting with Google GenAI services
google-genai

# Data validation and settings management
pydantic
pydantic-settings
pydantic[email]

# Excel/s file handling
openpyxl

# Data analysis and visualization libraries
numpy
pandas
matplotlib

# Database and ORM dependencies
sqlalchemy
psycopg[binary]
alembic

# Security and authentication dependencies
pwdlib[argon2]
pyjwt

# AWS SDK for Python (Boto3) for interacting with AWS services
boto3